.button{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 2.3rem;
    width: 6.3rem;
    border-radius: 10000px;
    color: white;
    font-weight: 700;
    transition: 0.1s linear;
    background: linear-gradient(90deg, rgb(0, 221, 255) 0%, rgba(255,0,233,1) 100%);
}

.button:hover{
    box-shadow: 0 0 25px rgb(181, 231, 255);
}
.button::after{
    content: attr(data-value);
    background-color: rgb(1, 1, 36);
    height: 2rem;
    width: 95%;
    position: relative;
    border-radius: 10000px;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 0.1s linear;
}

.button:active::after {
    background-color: transparent;
}