#contact::after{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position:absolute;
    pointer-events: none;
    animation: backgroundLightUp forwards linear;
    animation-timeline: view(50vh);
}
@keyframes backgroundLightUp {
    0%{
        background: url(https://img.freepik.com/free-vector/violet-watercolor-outer-space-background_23-2149247757.jpg?t=st=1724923400~exp=1724927000~hmac=a2ab695bb3e0bd59390c7c2ae997579004688894c691c0f12ea71f5fa191478f&w=996);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0;
    }
    50%, 100%{
        background: url(https://img.freepik.com/free-vector/violet-watercolor-outer-space-background_23-2149247757.jpg?t=st=1724923400~exp=1724927000~hmac=a2ab695bb3e0bd59390c7c2ae997579004688894c691c0f12ea71f5fa191478f&w=996);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.7;
    }
}



.contactButtons a{
    transition: 250ms;
}

.contactButtons a:hover{
    scale:1.4;
    filter: drop-shadow(0px 0px 1px rgb(0, 234, 255));
}
.contactButtons a:hover + a, .contactButtons a:has(+ a:hover){
    filter: drop-shadow(0px 0px 4px rgb(0, 234, 255));
 }
.contactButtons:hover a:not(:hover){
    scale: 0.8;
}

 #contact{
    perspective: 1000px;
    transform-style: preserve-3d;
}

.contactButtons{
    transform: translateZ(500px);
    animation: spin forwards linear;
    animation-timeline: view(10px);
    
    opacity: 0;
}

@keyframes spin {
    from{
        scale:0.2;
        opacity: 0;
        transform: rotateY(0deg);
    }
    40%, 100%{
        scale: 1;
        opacity: 1;
        transform: rotateY(360deg);
    }
}